@import "tailwindcss";

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}
h2 {
    font-size: 1.75rem;
    font-weight: bold;
}
h3 {
    font-size: 1.5rem;
    font-weight: 500
}